html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background: #f3eadf;
  clear: both;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif, 'Fraunces', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 30px;
  font-family: 'Fraunces', serif;
}

h2 {
  margin: 15px;
  font-family: 'Fraunces', serif;
  font-size: 24px;
}

h3 {
  margin: 10px;
  font-size: 24px;
  font-family: 'Fraunces', serif;
}

h4 {
  font-size: 18px;
}

p {
  margin: 10px;
  font-size: 18px;
  line-height: 150%;
  font-family: 'Fraunces', serif;
}

a {
  text-decoration: none;
  color: black;
}

.active-link:active, .active-link:focus  {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 10px 0;
}

label {
  font-family: 'Fraunces', serif;
  margin-top: 15px;
}

